{% extends 'base.html' %}

<!-- title -->
{% block title %} Forums List {% endblock %}

{% block content %}
    <div class="flex justify-between px-16 my-6">
        <h1 class="bold text-3xl text-text">Forums</h1>
        <a href="{{url_for('create_forum')}}" class="cursor-pointer bg-primary hover:bg-red-600 transition-colors text-text font-semibold px-3 py-2 rounded-lg text-center flex justify-center items-center space-x-1">
            <ion-icon name="add-outline" class="text-lg"></ion-icon>
            <span>New Forum</span>
        </a>
    </div>

    <div class="flex flex-col gap-6 items-start max-w-screen overflow-x-hidden">
        {% for forum in forums %}
        {% if forum.name != 'null' %}
        <a class="flex justify-between items-center text-text hover:scale-[1.01] py-4 w-[90%] border-b border-gray-400 mx-[5%] px-8 transition-all" href="{{url_for('view_forum', fid=forum.id)}}">
            <div class="flex">
                <img src="{{ forum.profile_pic }}" alt="{{ forum.name }}" class="h-14 w-14 rounded-full mr-6">
                <div class="flex flex-col">
                    <p class="font-bold text-xl">{{ forum.name }}</p>
                    <p class="text-sm text-slate-400">
                        Members: {{ forum.members|length }}
                    </p>
                </div>
            </div>
            <div class="flex text-right flex-col text-slate-300 text-sm ml-8">
                <form action="{{ url_for('join_forum', fid=forum.id) }}" method="POST">
                    <button type="submit" class="px-4 py-2 bg-primary text-white rounded-lg hover:bg-red-600">Join Forum</button>
                </form>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
