{% extends 'base.html' %}

<!-- title -->
{% block title %} Learn - CP {% endblock %}

{% block content %}

    <link rel="stylesheet" href="../static/css/learn2.css">
    <section class="randomSection">
        <div class="circleOne randomCircle"></div>
        <div class="circleTwo randomCircle"></div>

        <div class="container randomContainer">
            <div class="glass randomGlass">
                <img src="../static/images/assets/apna college.jpg" alt="" class="randomImg mx-auto">
                <div class="data randomData">
                    <h3 class="randomTitle">Apna College</h3>
                    <span class="randomProfession">Competitive Programming</span>
                </div>
                <a href="https://www.youtube.com/watch?v=kE5QWhrNjqY" class="randomButton">Get Started</a>
                <div class="social randomSocial">
                    <a href="#" class="randomLink"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class=" randomGlass">
                <img src="../static/images/assets/Errichto Algorithms.jpg" alt="" class="randomImg mx-auto">
                <div class=" randomData">
                    <h3 class="randomTitle">Errichto Algorithms</h3>
                    <span class="randomProfession">Competitive Programming</span>
                </div>
                <a href="https://www.youtube.com/watch?v=xAeiXy8-9Y8" class="randomButton">Get Started</a>
                <div class="social randomSocial">
                    <a href="#" class="randomLink"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="glass randomGlass">
                <img src="../static/images/assets/William Lin (tmwilliamlin168).jpg" alt="" class="randomImg mx-auto">
                <div class=" randomData">
                    <h3 class="randomTitle">William Lin (tmwilliamlin168)</h3>
                    <span class="randomProfession">Competitive Programming</span>
                </div>
                <a href="https://www.youtube.com/watch?v=bVKHRtafgPc" class="randomButton">Get Started</a>
                <div class="randomSocial">
                    <a href="#" class="randomLink"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
