{% extends 'base.html' %}

<!-- title -->
{% block title %} Learn - AV {% endblock %}

{% block content %}

    <link rel="stylesheet" href="../static/css/learn2.css">
    <section class="randomSection">
        <div class="circleOne randomCircle"></div>
        <div class="circleTwo randomCircle"></div>

        <div class="container randomContainer">
            <div class="glass randomGlass">
                <img src="../static/images/assets/supersimpledev.jpg" alt="" class="randomImg mx-auto">
                <div class="data randomData">
                    <h3 class="randomTitle">SuperSimpleDev</h3>
                    <span class="randomProfession">Web Development</span>
                </div>
                <a href="https://www.youtube.com/watch?v=G3e-cpL7ofc&t=6s" class="randomButton">Get Started</a>
                <div class="social randomSocial">
                    <a href="#" class="randomLink"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="glass randomGlass">
                <img src="../static/images/assets/Coder Coder.jpg" alt="" class="randomImg mx-auto">
                <div class=" randomData">
                    <h3 class="randomTitle">Coder Coder</h3>
                    <span class="randomProfession">Web Development</span>
                </div>
                <a href="https://www.youtube.com/watch?v=ysEN5RaKOlA" class="randomButton">Get Started</a>
                <div class="social randomSocial">
                    <a href="#" class="randomLink"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="glass randomGlass">
                <img src="../static/images/assets/Neeraj Walia.jpg" alt="" class="randomImg mx-auto">
                <div class=" randomData">
                    <h3 class="randomTitle">Neeraj Walia</h3>
                    <span class="randomProfession">Web Development</span>
                </div>
                <a href="https://www.youtube.com/watch?v=voXYG17rhQA" class="randomButton">Get Started</a>
                <div class="randomSocial">
                    <a href="#" class="randomLink"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="randomLink"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
