{% extends 'base.html' %}

<!-- title -->
{% block title %} Title {% endblock %}

{% block content %}

<div class="w-full h-48 bg-[cyan] flex justify-center items-center">
</div>

<!-- Profile Container -->
<div class="relative max-w-4xl mx-auto mt-[-5rem] p-8 bg-gray-950 border-white border-2 rounded-lg shadow-lg">
  <!-- Profile Header -->
  <div class="flex items-center justify-between mb-8">
    <div class="flex items-center">
      <!-- Profile Image with border overlap -->
      <img class="h-32 w-32 rounded-full border-4 border-background relative z-10" src="{{ user.profile_pic }}" alt="Profile picture">

      <div class="ml-6">
        <h1 class="text-3xl font-bold text-text">{{ user.name }}</h1>
        {% if user in club.managers %}
            <p class="text-text">Manager @ {{ club.name }}</p>
        {% elif club.name != 'null' %}
        <p class="text-text">Member @ {{ club.name }}</p>
         {% endif %}
        
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="mb-6 text-text">
    <h2 class="text-2xl font-semibold mb-2">About</h2>
    <p class="text-lg leading-relaxed">
      {{ user.description }}
    </p>
  </div>

  <!-- Skills Section -->
  <div class="mb-6">
    <h2 class="text-2xl font-semibold mb-2 text-text">Skills</h2>
    <div class="flex flex-wrap">
      {% for skill in user.skills %}
        <span class="bg-primary text-background px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">{{ skill.name }}</span>
      {% endfor %}
    </div>
  </div>
<!-- Prizes -->
          <div class='mb-6 text-text'>
              <h2 class="text-2xl font-semibold mb-2">Achievements</h2>
              <div class="flex items-center gap-4">
                <div class="flex flex-col gap-2 items-center">
                    <img src="../static/images/assets/gold-medal.png" alt="" class="h-[40px] w-[40px]">
                    <span class="text-xl">{{ user.golds }}</span>
                </div>
                <div class="flex flex-col gap-2 items-center">
                    <img src="../static/images/assets/silver-medal.png" alt="" class="h-[40px] w-[40px]">
                    <span class="text-xl">{{ user.silvers }}</span>
                </div>
                <div class="flex flex-col gap-2 items-center">
                    <img src="../static/images/assets/bronze-medal.png" alt="" class="h-[40px] w-[40px]">
                    <span class="text-xl">{{ user.bronzes }}</span>
                </div>
            </div>
          </div>
  <!-- Contact Info -->
  <div class="mb-6 text-text">
    <h2 class="text-2xl font-semibold mb-2">Contact</h2>
    <ul>
      <li><strong>Email:</strong> {{ user.email }}</li>
    </ul>
  </div>


  {% if current_user.id == user.id %} 
  <div>
    <a class="flex gap-2 my-4 text-red-600 items-center" href="{{url_for('logout')}}">
      <ion-icon name="log-out-outline"></ion-icon>
      Logout
    </a>
  </div>
  {% endif %}



</div>


{% endblock %}
